.container {
  flex-direction: column;
}

.greeting {
  display: flex;
  position: relative;
  input {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.landing-page-row {
  display: flex;
  flex-direction: row;
  width: 380px;
  align-items: center;
  justify-content: center;
  input, button {
    flex: 1;
  }
}