<div class="voting-room">
  <div class="container h-center">
    <div>
      <h1>Voting Room</h1>
      <h3>
        Id: {{ room().id }}
      </h3>
      <button class="sp-btn" (click)="copyLink()">Copy Link</button>
    </div>
  </div>
  
  <div class="container">
    @for (voter of room().voters; track $index) {
      <div
        class="container v-center voter-card"
        [class.voted]="voter.hasVoted"
        [class.host]="voter.isHost"
        [class.show-vote]="room().revealed">
        <div class="name">
          {{voter.name}}{{ me()?.id === voter.id ? '(You)' : '' }}
        </div>
        @if (room().revealed) {
            <div class="vote-value sp-btn secondary">
            @if (voter.vote > 0) {
              {{ voter.vote }}
            } @else {
              <img src="assets/no-vote.gif" height="35px" width="35px">
            }
          </div>
          }
      </div>
    }
  </div>
  
  @if(me()) {
    <div class="container v-center">
      <div>
        <h2>Vote</h2>
      </div>
      <div>
        @for (val of options; track $index) {
          <span>
            <button (click)="updateMyVote(val)" class="sp-btn" [class.secondary]="me()?.vote !== val">
              {{ val }}
            </button>
          </span>
        }
      </div>
    </div>
  
    <div class="container">
        @if(me()?.isHost) {
          <button (click)="resetVotes()" class="sp-btn">New vote</button>
          <button (click)="revealVotes()" class="sp-btn">Reveal Votes</button>
          <button (click)="closeRoom()" class="sp-btn">Close Room</button>
          <span>
            <div class="sp-btn secondary">
              <button (click)="startTimer()" class="sp-btn">
                Start Timer
              </button>
              <select class="sp-input" (change)="setTimer($event)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="15">30</option>
              </select>
              <div class="progress" [style.width]="progressPercent()">
              </div>
            </div>
          </span>
        } @else {
          <button (click)="leaveRoom()" class="sp-btn">Leave Room</button>
        }
      </div>
  }
  <statistics-component [data]="room().revealed ? statisticsData() : []"/>
</div>

@if (modal() === 'pick-name') {
  <div class="full-screen-modal">
    <h1 class="title">
      Pick a name!
    </h1>
    <div class="content">
      <input
        type="text"
        class="sp-input"
      >
    </div>
  </div>
}


