<div class="voting-room">
  <div class="container h-center">
    <div>
      <h1>Voting Room</h1>
      <h3>
        Id: {{ room().id }}
      </h3>
      <button class="sp-btn" (click)="copyLink()">Copy Link</button>
      @if(me()?.isHost) {
        <button (click)="closeRoom()" class="sp-btn">Close Room</button>
      }
    </div>
  </div>
  
  <div class="container">
    @for (voter of room().voters; track voter.id; let i = $index) {
      <div
        class="container v-center voter-card"
        [class.voted]="voter.hasVoted"
        [class.host]="voter.isHost"
        [class.show-vote]="room().revealed">
        <div class="name">
          {{voter.name}}{{ me()?.id === voter.id ? '(You)' : '' }}
        </div>
        @if (room().revealed) {
            <div class="vote-value sp-btn secondary">
            @if (voter.vote > 0) {
              {{ voter.vote }}
            } @else {
              <picture>
                <source [srcset]="'https://fonts.gstatic.com/s/e/notoemoji/latest/' + votersDisplay()[i] + '/512.webp'" type="image/webp">
                <img [src]="'https://fonts.gstatic.com/s/e/notoemoji/latest/' + votersDisplay()[i] + '/512.gif'" alt="🫥" width="32" height="32">
              </picture>
            }
          </div>
          }
      </div>
    }
  </div>
  
  @if(me()) {
    <div class="container v-center">
      <div>
        <h2>Vote: </h2>
      </div>
      <div>
        @for (val of options; track $index) {
          <span>
            <button (click)="updateMyVote(val)" class="sp-btn" [class.secondary]="me()?.vote !== val">
              {{ val }}
            </button>
          </span>
        }
      </div>
    </div>
  
    <div class="container">
        @if(me()?.isHost) {
          <button (click)="resetVotes()" class="sp-btn">New vote</button>
          <button (click)="revealVotes()" class="sp-btn">Reveal Votes</button>
          <span>
            <div class="sp-btn secondary">
              <button (click)="startTimer()" class="sp-btn">
                Start Timer
              </button>
              <select class="sp-btn secondary" (change)="setTimer($event)">
                <option value="5">5 sec</option>
                <option value="10">10 sec</option>
                <option value="15">15 sec</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
              </select>
            </div>
          </span>
        } @else {
          <button (click)="leaveRoom()" class="sp-btn">Leave Room</button>
        }
      </div>
  }

  @if (room().timer.current > 0) {
    <div class="full-screen-modal transparent">
      <h1 style="font-size: 96px;"> {{timerProgress()}} </h1>
    </div>
  }

  <statistics-component [data]="room().revealed ? statisticsData() : []"/>
</div>

@if (modal() === 'pick-name') {
  <div class="full-screen-modal">
    <h1 class="title">
      Pick a name!
    </h1>
    <div class="content">
      <input
        type="text"
        class="sp-input"
      >
    </div>
  </div>
}

@if(fullScreenEmoji() != null) {
  <div class="full-screen-modal transparent temp">
    <div class="content">
      <h1>{{fullScreenEmoji()?.title}}</h1>
      <picture>
        <source [srcset]="'https://fonts.gstatic.com/s/e/notoemoji/latest/' + fullScreenEmoji()?.emoji + '/512.webp'" type="image/webp">
        <img [src]="'https://fonts.gstatic.com/s/e/notoemoji/latest/' + fullScreenEmoji()?.emoji + '/512.gif'" width="124" height="124">
      </picture>
    </div>
  </div>
}


